body {
  background: rgb(63, 198, 231);
  background: linear-gradient(
    90deg,
    rgb(0, 204, 255) 12%,
    rgb(63, 223, 231) 29%,
    rgba(63, 182, 205, 1) 55%,
    rgb(73, 222, 248) 90%
  );
  display: flex;
  justify-content: center;
} 
h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
h3:after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
  transform: scaleY(-1);
  opacity: 0.5;
  filter: blur(2px);
  white-space: nowrap;
}
.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 97vw;
  height: 97vh;
}
.flex-item {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  margin-top: 35px;
  background-color: white;
  border: none;
  opacity: 0.6;
  border-radius: 7px;
  width: 100%;
  height: 7vh;
  color: black;
  font-size: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.state-drop {
  margin-top: 35px;
  margin-right: 5px;
  background-color: white;
  opacity: 0.6;
  color: black;
  border-radius: 7px;
  width: 10%;
  min-width: 55px;
  z-index: 2;
}
.title {
  margin-bottom: 25px;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 7px 7px 0px;
  height: 7vh;
  margin-top: 35px;
  padding: 7px;
  z-index: 2;
}
form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
}
.main-temp {
  color: white;
  font-size: 70px;
  margin-top: 10px;
  min-height: 90px;
  z-index: 2;
}
* {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.hour-card{
  z-index: 25;
}
.temp-container {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}
.info-item {
  background-color: black;
  width: 90%;
  height: 90%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
  z-index: 2;
}
.info-item > h6 {
  margin-bottom: 10px;
}
.temp-text {
  color: white;
}

.daily,
.three-hr {
  height: 50%;
  width: 100%;
  color: white;
  z-index: 1;
}

.weather-icon {
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .temp-text {
    font-size: 85%;
  }
}
@media (max-width: 740px) {
  .search {
    width: 44vh;
    height: 5vh;
    font-size: 80%;
  }
  .state-drop {
    font-size: 80%;
  }
  .search-btn {
    font-size: 12px;
    height: 5vh;
  }
  .main-temp {
    color: white;
    font-size: 40px;
    min-height: 60px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .info {
    background-color: none;
    height: 30%;
  }
  .week {
    background-color: none;
    height: 70%;
  }
  .info,
  .week {
    width: 100%;
  }
  .temp-text {
    font-size: 75%;
  }
  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5px;
  }
}
@media (max-height: 550px) {
  .search {
    font-size: 700%;
  }
}
@media (max-height: 700px) {
  .search {
    width: 100%;
    height: 5vh;
    font-size: 100%;
  }
  .search-btn {
    font-size: 12px;
    height: 5vh;
  }
  .main-temp {
    color: white;
    font-size: 40px;
  }
  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5px;
  }
  .weather-icon {
    margin-top: 3px;
  }
}
@media (min-width: 741px) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    background-color: transparent;
    width: 30%;
  }
  .week {
    width: 70%;
    background-color: none;
    padding: 20px;
  }
  .info-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
}
.daily-container,
.three-hr-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  z-index: 2;
}
.day,
.hour {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 75%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.weather-icon.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
  }
  100% {
    opacity: 0;
  }
}
.flash {
  animation: flash 0.2s infinite;
}
.weather-icon.bounce {
  animation: bounce 2s infinite;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
